<section class="footer">

    <div class="footer-content">
        <div class="footer-lists">
            <div>
                <p>TERMS AND CONDITIONS</p>
                <a>- Privacy policies</a>
                <a>- Terms of use</a>
            </div>

            <div>
                <p>ABOUT US</p>
                <a>- What's MotoDial?</a>
                <a>- Services and features</a>
                <a>- Common question</a>
                <a>- Contact information</a>
            </div>

            <div>
                <img src="../../image/logo.png">
                <div>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google"><i class="fa fa-google"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="copy-right">
            <p>Copyright 2021 &copy; All Rights Reserved</p>
        </div>

    </div>
</section>



</section>