<header>
    <img src="../../image/logo.png">
    <nav>
        <a href="/">Home</a>
        <a href="#">Services</a>
        <a href="/specification">Car Search</a>
        <a href="/obd">OBD</a>
        <a href="#">Contact</a>
    </nav>
</header>