<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



</body>

</html>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/history.css">
    <title>History</title>
</head>

<body>

    <%- include('../layouts/header') %>


        <main>
            <section class="hero">
                <div class="div-heading">
                    <h1>Vehicle History</h1>
                    <h2>Get access to a comprehensive set of history records for used and new cars by VIN based on sales
                        data
                        stored in database.
                    </h2>
                </div>

                <div class="form">
                    <img src="../../image/patteren3.png">
                    <!-- <form action="/historyData">
                    <input type="text" name="vin" id="" placeholder="Insert the VIN">
            
                    <button type="submit"> EXPLORE </button>
            
                </form> -->
                    <form action="/historyData" class="form1">
                        <input type="text" name="vin" id="" placeholder="VIN Code">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </section>


        </main>

</body>

</html>