<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>

        <h1>Project Demo</h1>

    </header>

    <main>
        <a href="/"> Home </a> <br>

        <a href="/specification"> Search For Specification</a> <br>

        <a href="/carfax"> Carfax Report </a> <br>

        <a href="/obd"> OBD Diagnosis </a> <br>

        <a href="/charge"> Charge your EV </a> <br>

        <a href="/garage"> My Garage </a> <br>

        <a href="/malfunctionList"> Malfunction List</a> <br>

        <a href="/whatCar"> Search By Car image</a>

    </main>

    <footer>

    </footer>
    
</body>
</html>