<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/base.css">
</head>



  <body>
    <!-- -----------------------------header -->

    <%- include('../layouts/header') %>



    <main>
      <!-- ----------------------------- hero -->

      <section class="hero">
        <h1>MotoDial</h1>
        <h2>The best way to get vehicle
          <div id="container">
            <div id="text"></div>
          </div>
        </h2>
      </section>

      <img class="tri" src="../../image/ok.png">

      <!-- -----------------------------main content -->
      <section class="suduMain">

        <!-- ---------------------- What services does MoroDial Provide you? -->

        <section class="motoDial_Info">
          <article>
            <p> Let's Introduce MotoDial </p>
            <p>Car owner's first tools to provide vehicle specs, market value, history and more! . We provide you
              information that are hard to get in the most simple, efficient, elegent way possible . The possibilities
              are endless. From tracking vehicle analytics in your company, energy, insurance, media, ride hailing </p>
          </article>
          <img src="../../image/blue car.png" alt="">

        </section>


        <section class="features">
          <div class="background-sec">
            <p>Our services</p>
            <div class="icons">


              <div class="card" class="hvr-bob">
                <div class="heading">
                  <div><img src="../../image/spec.png" alt=""></div>
                  <p>VEHICLE SPEC</p>
                </div>

                <p>Get robust vehicle specification data on color options, attributes, equipment details, recall
                  information, warranties</p>
                <button><a href="/specification">Start</a></button>
              </div>



              <div class="card"  class="hvr-bob">
                <div class="heading">
                  <div><img src="../../image/history.png" alt=""></div>
                  <p>VEHICLE HISTORY</p>
                </div>

                <p>Get access to a comprehensive set of history records for used and new cars by VIN based on sales data
                  stored in database. </p>
                <button><a href="/carfax">Start</a></button>
              </div>



              <div class="card" class="hvr-bob">
                <div class="heading">
                  <div><img src="../../image/obd.png" alt=""></div>
                  <p>OBD DIAGNOSIS</p>
                </div>

                <p> We provide you with a system that reports diagnostic trouble codes, efficiently rising up the issue
                  using your OBD code . </p>
                <button><a href="/obd">Start</a></button>
              </div>




              <div class="card" class="hvr-bob">
                <div class="heading">
                  <div><img src="../../image/map.png" alt=""></div>
                  <p>Charging STATIONS</p>
                </div>

                <p>Look for the nearby EV Charging stations by just providing your location.</p>
                <button><a href="/charge">Start</a></button>
              </div>


            </div>
          </div>
        </section>


        <!-- <section class="vedio">
        <video width=100% height="1000" autoplay muted loop>
        <source src="assets/welcometojordan.webm">
        </video>
        </section>
        -->


      <%- include('../layouts/footer') %>



    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../js/app.js"></script>
  </body>

</html>