<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/base.css">
  <script src="https://kit.fontawesome.com/1224b18e51.js" crossorigin="anonymous"></script>
  <title>Home Page</title>
</head>


<body>
  <!-- -----------------------------header -->

  <header>
    <a href="/"><img src="../../image/logo.png"></a>
    <nav>
      <!-- <a href="#">Services</a> -->
      <a href="/specification">Car Search</a>
      <a href="/obd">OBD</a>
      <a href="/aboutus">About Us</a>
      <a href="/garage"><i class="fas fa-warehouse"></i>
        <%=carLength%>
      </a>
      <a href="/malfunctionList"><i class="fas fa-wrench"></i>
        <%= obdLength %>
      </a>
    </nav>
  </header>
  <main>
    <!-- ----------------------------- hero -->

    <section class="hero">
      <h1 class="mot"> MotoDial</h1>
      <h2 class="mot">The best way to get vehicle
        <div id="container">
          <div id="text"></div>
        </div>
      </h2>
    </section>

    <img class="tri" src="../../image/ok.png">

    <!-- -----------------------------main content -->
    <section class="suduMain">

      <!-- ---------------------- What services does MoroDial Provide you? -->

      <section class="motoDial_Info">
        <article>
          <p> Let's Introduce MotoDial </p>
          <p>Car owner's first tools to provide vehicle specs, market value, history and more! . We provide you
            information that are hard to get in the most simple, efficient, elegent way possible . The possibilities are
            endless. From tracking vehicle analytics in your company, energy, insurance, media, ride hailing </p>
        </article>
        <img src="../../image/blue car.png" alt="">

      </section>


      <section class="features">
        <div class="background-sec">
          <p>Our services</p>
          <div class="icons">


            <div class="card">
              <div class="heading">
                <div><img src="../../image/spec.png" alt=""></div>
                <p>VEHICLE SPEC</p>
              </div>

              <p>Get robust vehicle specification data on color options, attributes, equipment details, recall
                information, warranties</p>
              <button><a href="/specification">Start</a></button>
            </div>



            <div class="card">
              <div class="heading">
                <div><img src="../../image/history.png" alt=""></div>
                <p>VEHICLE HISTORY</p>
              </div>

              <p>Get access to a comprehensive set of history records for used and new cars by VIN based on sales data
                stored in database. </p>
              <button><a href="/carfax">Start</a></button>
            </div>



            <div class="card">
              <div class="heading">
                <div><img src="../../image/obd.png" alt=""></div>
                <p>OBD DIAGNOSIS</p>
              </div>

              <p> We provide you with a system that reports diagnostic trouble codes, efficiantly rising up the issue
                using your OBD code . </p>
              <button><a href="/obd">Start</a></button>
            </div>




            <div class="card">
              <div class="heading">
                <div><img src="../../image/map.png" alt=""></div>
                <p> SERVICE STATIONS</p>
              </div>

              <p>You can look for the best nearby car services stations by just providing your location. .</p>
              <button><a href="/charge">Start</a></button>
            </div>


          </div>
        </div>
      </section>


      <section class="shopping">

        <div class="shop">
          <div><img src="../../image/battary.png" width="250%" height="150%"></div>
          <div><img src="../../image/trbo.png" width="250%" height="150%"></div>
          <div><img src="../../image/exh.png" width="250%" height="150%"></div>
          <div><img src="../../image/wheel.png" width="250%" height="150%"></div>
          <div><img src="../../image/plug.png" width="250%" height="150%"></div>
          <div><img src="../../image/radiator.png" width="250%" height="150%"></div>
        </div>

        <div class="count">
          <p id="headline">Shopping Area </p>

          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown.</p>
            <ul>
            <button>Subscribe</button>
            <p id="p">Comming Soon</p>
            </ul>

          <div id="countdown">
            <ul id="list1">
              <li><span id="days"></span>days</li>
              <li><span id="hours"></span>Hours</li>
              <li><span id="minutes"></span>Minutes</li>
              <li><span id="seconds"></span>Seconds</li>
            </ul>
          </div>
      </section>


      <section class="footer">

        <div class="footer-content">
          <div class="footer-lists">
            <div>
              <p>TERMS AND CONDITIONS</p>
              <a>- Privacy policies</a>
              <a>- Terms of use</a>
            </div>
  
            <div>
              <p>ABOUT US</p>
              <a>- What's MotoDial?</a>
              <a>- Services and features</a>
              <a>- Commom question</a>
              <a>- Contact information</a>
            </div>
  
            <div>
              <a href="/"><img src="../../image/logo.png"></a>
              <div>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="google"><i class="fa fa-google"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
  
          <div class="copy-right">
            <p>Copyright 2021 &copy; All Rights Reserved</p>
          </div>
  
        </div>
      </section>



    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../js/app.js"></script>
</body>

</html>